@import "tailwindcss";
@import "@nuxt/ui";


@theme static {
  --font-sans: "Epilogue", sans-serif;

  --color-primary: #7AE2CF;
  --color-accent: #077A7D;
  --color-secondary: #0B3242;
  --color-highlight: #010d12;
}

.header-nav a {
  transition: all 300ms ease;
}

.header-nav a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}z

.footer-nav a {
  transition: all 300ms ease;
}


.container {
  width: 1280px;
  margin: 0 auto;
}


.banner {
  margin-top: 100px;
}
